<% content_for :page_title do %>
  <%= "Affiliate Tag Report" %>
<% end %>

<%= render :partial => 'page_actions' %>

<%= render :partial => 'spree/admin/affiliate_codes/date_range' %>

<% content_for :table_filter do %>
  <%= search_form_for @search, :url => spree.affiliate_tag_report_admin_reports_path  do |s| %>
    <%= render :partial => 'spree/admin/affiliate_codes/search_form', :locals => { :s => s } %>
  <% end %>
<% end %>

<table class="admin-report" data-hook="affiliate_total">
  <thead>
    <tr>
      <th>Code</th>
      <th>Number</th>
      <th>Payable Order Value</th>
      <th>Commission</th>
    </tr>
  </thead>
  <% if !@report.blank? %>
    <% @report.each do |key, value| %>
    <tbody>
      <td><%= link_to key, tag_report_admin_affiliate_code_path(value[:affiliate_code], params) %></td>
      <td class="align-right"><%= number_with_delimiter(value[:number]) %></td>
      <td class="align-right"><%= number_to_currency(value[:payable_order_value], precision: 2) %></td>
      <td class="align-right"><%= number_to_currency(value[:commission], precision: 2) %></td>
    </tbody>
    <% end %>
  <% else %>
    No Codes Available
  <% end %>
</table>
