<%= render :partial => 'title' %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-edit', 'Edit', edit_admin_affiliate_code_path(@affiliate_code), :class => 'button' %></li>
  <li><%= link_to_with_icon 'icon-file', 'Source Report', admin_affiliate_code_path(@affiliate_code), :class => 'button' %></li>
  <li><%= link_to_with_icon 'icon-file', 'Tag Report', tag_report_admin_affiliate_code_path(@affiliate_code), :class => 'button' %></li>
<% end %>

<%= render :partial => 'date_range' %>

<% content_for :table_filter do %>
  <%= search_form_for @search, :url => post_sku_report_admin_affiliate_code_path(@affiliate_code)  do |s| %>
    <%= render :partial => 'search_form', :locals => { :s => s } %>
  <% end %>
<% end %>

<table class="admin-report" data-hook="affiliate_total">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Commission</th>
    </tr>
  </thead>
  <% if !@report.blank? %>
    <% @report.each do |key, value| %>
    <tbody>
      <td><%= key %></td>
      <td class="align-right"><%= number_to_currency(value[:price], precision: 2) %></td>
      <td class="align-right"><%= number_with_delimiter(value[:quantity]) %></td>
      <td class="align-right"><%= number_to_currency(value[:total], precision: 2) %></td>
      <td class="align-right"><%= number_to_currency(value[:commission], precision: 2) %></td>
    </tbody>
    <% end %>
  <% else %>
    No Codes Available
  <% end %>
</table>

